name: Nightly release with autotools
on:
  workflow_call:
    inputs:
      tag:
        type: string
        default: nightly
      reconf-file:
        type: string
        default: ./bin/reconf.sh
      packages-to-install:
        type: string
env:
  NA_TAG: ${{ inputs.tag }}
jobs:
  check-tag:
    runs-on: ubuntu-slim
    outputs:
      delete-tag: ${{ steps.delete-tag.outputs.delete-tag }}
      create-release: ${{ steps.create-release.outputs.create-release }}
    steps:
    - uses: actions/checkout@v6
    - run: git pull -t
    - run: echo "NIGHTLY_TAG_SHA=$(git show-ref -s $NA_TAG)" >> $GITHUB_ENV
    - env:
        VAR_LIST: NIGHTLY_TAG_SHA GITHUB_SHA
      run: for v in $VAR_LIST; do eval echo \"$v=[\$$v]\"; done
    - id: delete-tag
      if: (github.sha != env.NIGHTLY_TAG_SHA) && (env.NIGHTLY_TAG_SHA != '')
      run: echo "delete-tag=OK" >> $GITHUB_OUTPUT
    - id: create-release
      if: github.sha != env.NIGHTLY_TAG_SHA
      run: echo "create-release=OK" >> $GITHUB_OUTPUT
  delete-tag:
    needs: [check-tag]
    if: needs.check-tag.outputs.delete-tag == 'OK'
    runs-on: ubuntu-slim
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - uses: actions/checkout@v6
    - run: echo IS_RELEASE=$(gh release list --json tagName -q ".[] | select(.tagName==\"$NA_TAG\").tagName") >> $GITHUB_ENV
    - if: env.IS_RELEASE == inputs.tag
      run: gh release delete $NA_TAG -y
    - run: git push -d origin $NA_TAG
  create-release-prepare:
    needs: [check-tag, delete-tag]
    if: always() && (needs.check-tag.outputs.create-release == 'OK')
    runs-on: ubuntu-slim
    outputs:
      version-ext: ${{ steps.version-ext.outputs.version-ext }}
    steps:
    - id: version-ext
      run: echo "version-ext=$(date '+-%Y%m%d-%H%M%z')" >> $GITHUB_OUTPUT
  create-release:
    needs: [check-tag, create-release-prepare]
    if: always() && (needs.check-tag.outputs.create-release == 'OK')
    uses: ./.github/workflows/release-autotools.yml
    with:
      tag: ${{ inputs.tag }}
      title: Nightly release
      package-version-ext: ${{ needs.create-release-prepare.outputs.version-ext }}
      reconf-file: ${{ inputs.reconf-file }}
      packages-to-install: ${{ inputs.packages-to-install }}
