name: Release with autotools
on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
      title:
        type: string
        required: true
      package-version-ext:
        type: string
      reconf-file:
        type: string
        default: ./bin/reconf.sh
      packages-to-install:
        type: string
env:
  BUILD_DIR: _build
  VERSION_EXT: ${{ inputs.package-version-ext }}
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt update
    - env:
        PACKAGES: ${{ inputs.packages-to-install }}
      run: sudo apt install -y $PACKAGES
    - uses: actions/checkout@v6
    - run: ${{ inputs.reconf-file }}
    - run: mkdir -p $BUILD_DIR
    - working-directory: ${{ env.BUILD_DIR }}
      run: $GITHUB_WORKSPACE/configure && make && make distcheck && make dist-zstd
    - run: echo "NAME=$(grep '^AC_INIT(' configure.ac | awk -F[ '{print $2}' | awk -F] '{print $1}')" >> $GITHUB_ENV
    - run: echo "VERSION=$(grep '^AC_INIT(' configure.ac | awk -F[ '{print $3}' | awk -F] '{print $1}')" >> $GITHUB_ENV
    - run: echo "PACKAGE=$NAME-$VERSION" >> $GITHUB_ENV
    - if: env.VERSION_EXT != ''
      working-directory: ${{ env.BUILD_DIR }}
      run: mv $PACKAGE.tar.zst $PACKAGE$VERSION_EXT.tar.zst
    - env:
        TAG: ${{ inputs.tag }}
        TITLE: ${{ inputs.title }}
        GH_TOKEN: ${{ github.token }}
      working-directory: ${{ env.BUILD_DIR }}
      run: gh release create $TAG $PACKAGE$VERSION_EXT.tar.zst -t "$TITLE"
