name: Release with autotools
on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
      title:
        type: string
        required: true
      version:
        type: string
        required: true
      version-ext:
        type: string
      reconf-file:
        type: string
        default: ./bin/reconf.sh
env:
  BUILD_DIR: _build
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt update
    - run: sudo apt install -y libuv1-dev
    - uses: actions/checkout@v6
    - run: ${{ inputs.reconf-file }}
    - run: mkdir -p $BUILD_DIR
    - working-directory: ${{ env.BUILD_DIR }}
      run: $GITHUB_WORKSPACE/configure && make && make distcheck && make dist-zstd
    - env:
        TAG: ${{ inputs.tag }}
        VERSION: ${{ inputs.version }}
        VERSION_EXT: ${{ inputs.version-ext }}
        TITLE: ${{ inputs.title }}
      run: gh release create $TAG "$BUILD_DIR/cmap-$VERSION.tar.zst#cmap-$VERSION$VERSION_EXT.tar.zst" -t "$TITLE"
